.policy{
    margin: 100px 0;

    h1{
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    h2{
        font-size: 15px;
        line-height: 130%;
        color: #000000;
    }
    p{
        font-weight: 300;
        font-size: 15px;
        line-height: 160%;
        color: #696969;
        padding: 10px 0;
    }
}