.about{
    padding: 100px 0;

    &__title{
        font-size: 25px;
        line-height: 34px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    &__desc{
      max-width: 800px;
      margin: 0 auto;

      p{
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 15px;
        line-height: 160%;
        color: #323232;
      }
    }
}